.match-info {
  width: 360px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px #7c7c7c;
  overflow: hidden;
  font-family: 'Gill Sans', sans-serif;

  .match-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-family: 'Gill Sans', sans-serif;
    line-height: 40px;

    p {
      color: #444444;
    }

    .mode {
      font-weight: bold;
      font-size: 24px;
    }

    .date {
      font-size: 16px;
    }

    &.topTen {
      background-color: #2a90f8;

      p {
        color: #fff;
      }
    }

    &.champion {
      background-color: #349c5a;

      p {
        color: #fff;
      }
    }
  }

  .match-info-map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(19, 19, 19);

    &.Erangel {
      background-color: #496b00;
    }

    &.Miramar {
      background-color: #8c8000;
    }

    &.Vikendi {
      background-color: #f5f5f5;
    }

    &.Karakin {
      background-color: #ffde00;
    }

    &.Sanhok {
      background-color: #006409;
    }

    &.Training-Range {
      background-color: #c7b700;
    }

    &.Paramo {
      background-color: #730000;
    }
  }

  .match-info-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      height: 60px;
      border-radius: 4px;
      background-color: #f1f1f1;
      font-weight: bold;
      h5 {
        font-weight: bold;
        font-size: 18px;
        color: #444;
        line-height: 20px;
      }
    }

    &.solo-game > div {
      min-width: 160px;
    }

    &.topTen > div:first-child {
      background-color: #2a90f8;
      h5, p {
        color: #fff;
      }
    }

    &.champion > div:first-child {
      background-color: #349c5a;
      h5, p {
        color: #fff;
      }
    }
  }

  .match-info-alive {
    margin: 0 20px;
    font-size: 18px;
    h4 {
      font-weight: bold;
      text-align: center;
    }
    
    .match-info-alive__container {
      height: 20px;
      margin: 10px 0;
      border-radius: 10px;
      background-color: rgb(128, 128, 128);
      overflow: hidden;

      span {
        display: block;
        text-align: center;
        font-weight: bold;
        background-color: rgb(255, 187, 0);
        border-radius: 10px;
        line-height: 20px;
      }
    }
  }

  .match-info-detail {
    margin: 0 20px;
    padding: 10px;
    border: 1px solid rgb(179, 179, 179);
    p {
      font-weight: bold;
      font-size: 16px;
      span {
        color: #9d3737;
      }
    }
  }

  .match-info-footer {
    margin: 10px;
    text-align: center;
  }
}
